########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

##################
# other operating systems
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# Windows
# Image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
